body {
  --bg: #e1f2f5;
  --textNormal: #222;
  --textTitle: #40444a;
  --textLink: #71b09d;
  --hr: hsla(0, 0%, 0%, 0.2);

  background-color: var(--bg);
  transition: background-color 2s ease;
}

body.dark {
  -webkit-font-smoothing: antialiased;

  --bg: #3f4245;
  --textNormal: #e8e8df;
  --textTitle: #a8a89b;
  --textLink: #a9bfd1;
  --hr: hsla(0, 0%, 100%, 0.2);
  transition: background-color 2s ease;
}

/* The switch - the box around the slider */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
}

/* Hide default HTML checkbox */
.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 22px;
}

.toggle-slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 22px;
}

input:checked + .toggle-slider {
  background-color: rgb(110, 159, 199);
}


input:checked + .toggle-slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}